*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-color: #242424;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10px;
    width: 90%;
}

iframe{
    width: 200px;
    height: 200px;
}

iframe .video-js.vjs-theme-sb .vjs-big-play-button{
    display: block;
}