*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

iframe {
    display: flex;
    width: 560px;
}

@media (max-width: 360px) {
    iframe {
        margin: 0 auto;
        width: 300px;
    }
}